POSTGRES_DB=software_agent
POSTGRES_USER=software_agent
POSTGRES_PASSWORD=software_agent
POSTGRES_PORT=5433

POSTGRES_TEST_DB=software_agent_test
POSTGRES_TEST_USER=software_agent_test
POSTGRES_TEST_PASSWORD=software_agent_test
POSTGRES_TEST_PORT=5434