POSTGRES_DB=software_agent
POSTGRES_USER=software_agent
POSTGRES_PASSWORD=change_me_before_production
POSTGRES_PORT=5433

POSTGRES_TEST_DB=software_agent_test
POSTGRES_TEST_USER=software_agent_test
POSTGRES_TEST_PASSWORD=change_me_for_tests
POSTGRES_TEST_PORT=5434

BACKEND_PORT=8000
FRONTEND_PORT=8080
